---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Creative Development</h2>
		<p>As a front-end developer, I blure the lines between a coder and a designer, I use both coding languages and design applications to create beautiful interactive web interfaces.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="link" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Effective Communication</h2>
		<p>Driven by a passion for precision, I excel in writing clean code and conveying complex technical ideas with clarity, making me a valuable bridge between code and communication in software development.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="anchor" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Grit</h2>
		<p>The unwavering calm in the storm of challenges, the unbreakable shield that allows me to thrive under pressure, and the secret ingredient that turns adversity into opportunity on the canvas of life.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
